<% layout('./boilerplate/boilerplate.ejs') %> 
    <link rel="stylesheet" href="/home.css">


    <div class="background">
    </div>
    <div class="center d-flex flex-column justify-content-center align-items-center">
        <h1 class="pb-2">YelpCamp!!</h1>
        <p>
            <strong>Discover your next camping site</strong>
            <p class="">
                Validated campsites with reviews
            </p>
        </p>
    </div>
