<% layout('./boilerplate/boilerplate.ejs') %> 

    <h1>New Camp</h1>

    <form action="/campground/new" method="post" style="width:55%" class="validated-form " novalidate enctype="multipart/form-data">
        <label for="title" class="form-label pt-3">Title</label>
        <input type="text" id="title" name="title" placeholder="title" class="form-control mb-1" required>
        <div class="valid-feedback">Looks Good!</div>
        

        <label for="locations" class="form-label pt-3">Location</label>
        <input type="text" id="location" name="location" placeholder="location" class="form-control mb-3" required>
        <div class="valid-feedback">Looks Good!</div>
        

        <label for="price" class="form-label">Price</label>
        <div class="input-group mb-2">
            
            <span class="input-group-text">$</span>
            <input type="text" id="price" name='price' class="form-control"  required>
            <div class="valid-feedback">Looks Good!</div>
            

        </div>
        <div>
            <label for="image" class="form-label ">Image</label>
            
            <div class="input-group">
                <input type="file" class="form-control" id="inputGroupFile04 image" name='image' aria-describedby="inputGroupFileAddon04" aria-label="Upload" multiple>
                 
            </div>
        </div>
        
        
        <div class="valid-feedback">Looks Good!</div>
       
        <div><label for="description" class="form-label">Description</label> 
            <textarea name="description" placeholder="Description" id="description" class="form-control" cols="30" rows="2" required></textarea>
            <div class="valid-feedback">Looks Good!</div></div>

        
        

        <button class="btn btn-success mt-3">submit</button>
    </form>
